<navigation></navigation>

<div class="container">
  <div class="row">
    <div class="col-md-12" style="background-color: #AEA8D3; border-radius: 5px; padding: 10px;">
      <div class="col-md-6">
        <h3>Inloggad som:</h3>
          <label>Name</label>
          <p class="form-control-static">{{ vm.user.name }}</p>
          <label>Role</label>
          <p class="form-control-static">{{ vm.user.role }}</p>
        </div>

        <div class="col-md-6">
          <h3>Info:</h3>
          <p>Som admin ansvarar du för att lägga till de tvättmaskiner som finns tillgängliga för hyresgästerna.</p>
          </div>
    </div>

    <div class="col-md-6" ng-controller="adminCtrl as vm">
      <h1 class="form-signin-heading">Tvättmaskiner</h1>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Namn</th>
            <th>Beskrivning</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="w in vm.machines track by $index" ng-click="vm.showSchedule(w)">
            <td>{{w.name}}</td>
            <td>{{w.description}}</td>
            <td>
              <button class="btn-warning pull-right" ng-click="vm.deleteMachine(w._id)">Ta bort</button>
            </td>
          </tr>
        </tbody>
      </table>
      <form class="form-horizontal" ng-submit="vm.createMachine(vm.machine)">
        <fieldset>
          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Namn</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" ng-model="vm.machine.name" placeholder="Namn">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="control-label col-xs-2">Beskrivning</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" ng-model="vm.machine.description" placeholder="Beskrivning">
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-10">
              <button type="submit" class="btn btn-primary">Lägg till</button>
            </div>
          </div>
        </fieldset>
      </form>
</div>
<div class="col-md-6" ng-controller="adminCtrl as vm">
      <h1 class="form-signin-heading">Användare</h1>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Namn</th>
            <th>Mail</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="u in vm.allUsers track by $index">
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
              <td>{{u._id}}</td>
            <td>
              <button class="btn-info pull-right" ng-click="vm.showUserStat(u)">Info</button>
            </td>
          </tr>
        </tbody>
      </table>

      <h1 class="form-signin-heading">Historik för {{ vm.activeUser.name }}</h1>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Tvätttider</th>

          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="u in vm.userSlots track by $index">
            <td>{{u.date}}</td>
            <td>{{u.slot}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
